/* Verify OTP Modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal-content {
  width: 400px;
  padding: 1.25rem 1.95rem;
  background-color: var(--color-white);
  border-radius: 8px;
}
.modal-content-alt {
  width: 400px;
}
.modal-content-info {
  text-align: center;
}
.modal-close-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
  padding: 0.65rem 0;
}
.modal-close {
  font-size: 1.25rem;
  color: var(--color-gray-dark);
  cursor: pointer;
  font-weight: 500;
}
.modal-body {
  padding: 1rem 0;
}
.modal-image-wrapper {
  text-align: center;
}
.modal-image-wrapper img {
  width: 100%;
}
.modal-content-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}
.modal-form-item {
  width: 100%;
  margin-bottom: 0.85rem;
}
.modal-form-item p {
  color: red;
  font-size: 0.85rem;
  padding-left: 0.65rem;
}
.modal-form-btn {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.75rem;
}
/* Auth - Register / Login */
.auth {
  width: 100%;
  height: 100dvh;
  background-color: var(--color-primary);
}
.auth-container {
  width: 100%;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-content {
  width: 100%;
  height: 85dvh;
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.auth-content-right {
  height: 85dvh;
  background: url("./assets/auth-vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.auth-content-left {
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85dvh;
}
.auth-content-title {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.45;
}
.auth-content-para {
  font-size: 1rem;
  color: var(--color-gray-dark);
  line-height: 1.5;
  margin-bottom: 2rem;
}
.auth-form {
  width: 100%;
}
.form-item {
  width: 80%;
  margin-bottom: 1.25rem;
}
.form-item p {
  color: red;
  font-size: 0.85rem;
  padding-left: 0.65rem;
}
.form-input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1.75px solid var(--color-gray-dark);
  transition: border-bottom-color 0.3s ease;
  margin-bottom: 0.45rem;
}
.form-input::placeholder {
  color: var(--color-gray-dark);
}
.form-input:focus {
  border-bottom-color: var(--color-primary);
}
.form-input-alt {
  width: 100%;
  padding: 0.95rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #ededed;
  border-radius: 4px;
  margin-bottom: 0.45rem;
}
.invite-icon {
  margin-left: 0.35rem;
  margin-bottom: -2px;
  font-size: 1.35rem;
}
.form-btn {
  width: 80%;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
.form-redirect {
  font-size: 0.95rem;
  color: var(--color-black);
  padding-left: 0.65rem;
}
.form-redirect a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
}
.demo-login {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  font-size: 1.25rem;
  padding: 0.85rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.demo-login:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.demo-login-btn {
  width: 100%;
  margin-top: 0.75rem;
}

/* Sidebar */
.sidebar {
  min-width: 300px;
  height: 100%;
  background-color: var(--color-primary);
}
.side-nav {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.side-nav-item {
  width: 80%;
  padding: 1.25rem 1.5rem;
  display: flex;
  align-items: center;
  border-left: none;
  border-radius: 0 4px 4px 0;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}
.side-nav-bottom-item {
  width: 100%;
  padding: 1.25rem 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.side-nav-item p,
.side-nav-bottom-item p {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.side-nav-item:hover {
  background-color: rgba(217, 217, 217, 0.3);
}
.side-nav-bottom-item p {
  margin-right: 0.65rem;
}
.side-nav-item-icon {
  margin-right: 1.5rem;
  font-size: 1.25rem;
  margin-top: -2.5px;
}
.side-nav-bottom-icon {
  font-size: 1.25rem;
  margin-top: -2.5px;
}
.side-nav-item-active {
  background-color: rgba(217, 217, 217, 0.3);
}
.nav-close {
  position: absolute;
  top: 35px;
  right: -20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 1001;
  border-radius: 4px;
  display: none;
}
.nav-close-icon {
  font-size: 1.25rem;
  color: var(--color-primary);
  font-weight: 600;
}
/* Header */
.header {
  width: 100%;
  padding: 2rem 2.5rem 1.25rem;
  background-color: #f5f6fa;
}
.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.header-content-hr-line {
  width: 100%;
  border: none;
  background-color: #ebebeb;
  height: 1.5px;
}
.header-content-logo {
  display: flex;
  align-items: center;
}
.header-content-menu {
  font-size: 1.5rem;
  margin-right: 0.85rem;
  display: none;
}
.header-content-title {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: 500;
}
.header-content-email {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}
.header-content-role {
  font-size: 0.85rem;
  font-weight: 600;
  color: #838383;
  text-align: right;
  text-transform: capitalize;
}

/* Dashboard */
.dashboard {
  width: 100%;
  height: 100dvh;
  background-color: #f5f6fa;
  display: flex;
}
.dashboard-content-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.dashboard-content {
  width: 100%;
  padding: 1rem 2.5rem 3rem;
}
.add-admin-wrapper,
.add-reader-wrapper,
.add-book-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}
.add-book-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-admin,
.add-reader,
.add-book {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--color-primary);
  cursor: pointer;
}
.add-admin-icon,
.add-reader-icon,
.add-book-icon {
  margin-right: 0.35rem;
  margin-bottom: -2px;
}

/* tables */
.request-table,
.issued-table,
.book-table,
.registry-table,
.users-table {
  overflow-x: auto;
}
.request-note {
  width: 100%;
  margin-bottom: 1rem;
}
.request-note p {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-primary);
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 4px;
  overflow: hidden;
}
td,
th,
tr {
  text-align: center;
  padding: 1rem;
  font-family: inherit;
  white-space: nowrap;
}
thead {
  color: var(--color-primary);
}
tr {
  background-color: var(--color-white);
  border-bottom: 2px solid #f1f1f1;
}
tbody {
  width: 100%;
}
tbody tr:last-child {
  border-bottom: none;
}
tbody td {
  color: #838383;
}
.table-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  font-size: 1rem;
  font-weight: 500;
}
.table-action-icon {
  font-size: 1.25rem;
  margin: 0 0.4rem;
  cursor: pointer;
}

/* Search Form */
.search-form {
  width: 350px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
}
.search-btn {
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0 4px 4px 0;
  background-color: var(--color-white);
  cursor: pointer;
}
.search-icon {
  color: var(--color-gray-dark);
}
.return-btn {
  border-radius: 4px;
  background-color: var(--color-primary);
  padding: 0.65rem 1rem;
}
.search-form-input {
  padding: 1rem 1.25rem;
  background-color: var(--color-white);
  color: var(--color-gray-dark);
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 4px 0 0 4px;
  flex: 1;
}
.search-form-input::placeholder {
  color: var(--color-gray-dark);
}

/* Book Grid */
.books-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}
.book-card {
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  padding: 1rem;
}
.book-image {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.book-image img {
  width: 100%;
}
.book-image-icon {
  font-size: 5rem;
}
.book-title {
  font-size: 1.5rem;
  margin-bottom: 0.45rem;
}
.book-version {
  font-size: 1rem;
  margin-bottom: 0.45rem;
}
.book-authors {
  font-size: 1.15rem;
  margin-bottom: 1rem;
  font-style: italic;
}
.book-publisher {
  font-size: 1.15rem;
  margin-bottom: 0.75rem;
}
.book-issue {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  padding: 0.75rem 0;
  border-radius: 4px;
  margin-bottom: 0.45rem;
}
.book-qr {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  cursor: pointer;
  padding: 0.75rem 0;
  border-radius: 4px;
  margin-bottom: 0.45rem;
  background-color: transparent;
}

/* Profile  */
.profile-content {
  width: 100%;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profile-content h3 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}
.profile-form {
  width: 650px;
}
.profile-form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
}
.profile-form-item {
  width: 100%;
  margin-bottom: 1rem;
}
.profile-form-input {
  width: 100%;
  padding: 0.95rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #ededed;
  border-radius: 4px;
  margin-bottom: 0.45rem;
}
.profile-btn {
  text-align: center;
  border: none;
  outline: none;
  font-size: 1.15rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  margin-bottom: 0.45rem;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .auth-container {
    width: 990px;
  }
}
@media screen and (max-width: 1000px) {
  .auth-container {
    width: 85%;
  }
  .auth-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .auth-content-right {
    flex: 1;
    border-radius: 4px;
  }
  .form-redirect {
    margin-bottom: 0;
  }
  .auth-content-title {
    font-size: 2rem;
  }
  .auth-content-para {
    font-size: 1rem;
  }
  .form-btn{
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 990px) {
  .dashboard {
    flex-direction: column;
  }
  .header-content-menu {
    display: block;
    color: var(--color-primary);
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100dvh;
    z-index: 1000;
    transform: translateX(-320px);
    transition: transform 0.3s ease;
  }
  .sidebar-active {
    transform: translateX(0px);
  }
  .nav-close {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .auth-content-title {
    font-size: 1.5rem;
  }
  .auth-content-para {
    font-size: 0.85rem;
  }
  .form-item {
    width: 100%;
  }
  .form-btn {
    width: 100%;
    margin-top: 1rem;
  }
  .form-redirect {
    font-size: 0.75rem;
  }
  .form-input {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 500px) {
  .auth-content-left {
    padding: 2.5rem 1.75rem;
  }
  .auth-content-title {
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
  }
  .auth-content-para {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 1rem 2.5rem 1.25rem;
  }
  .header-content {
    flex-direction: column;
  }
  .header-content-logo {
    width: 100%;
    padding: 1rem 0;
  }
  .header-content-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .add-admin,
  .add-reader,
  .add-book {
    font-size: 1rem;
    padding: 0.85rem 2rem;
  }

  .side-nav-item p,
  .side-nav-bottom-item p {
    font-size: 1.15rem;
  }
  td, th, tr {
    font-size: 0.85rem;
  }
  .header-content-email {
    font-size: 0.85rem;
  }
  .header-content-role {
    font-size: 0.75rem;
  }
  .add-book-wrapper {
    flex-direction: column;
  }
  .add-book {
    width: 100%;
    margin-bottom: 1rem;
  }
  .search-wrapper {
    width: 100%;
  }
  .search-form {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {

  .Toastify__toast-container--top-right {
    display: flex;
    justify-content: flex-end;
  }
  .Toastify__toast-theme--light  {
    width: 85%;
  }
  td, th, tr {
    font-size: 0.75rem;
  }
  .header,
  .dashboard-content  {
    padding: 1rem 1.5rem 1.25rem;
  }
  .header-content-title {
    font-size: 1.25rem;
  }
  .header-content-menu {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }
  .sidebar {
    width: 100%;
    display: none;
  }
  .nav-close {
    display: none;
  }
  .search-form-input {
    width: 100%;
  }
  .modal-content {
    width: 90%;
  }
  .modal-content-title {
    font-size: 1.5rem;
  }
  .form-input-alt {
    font-size: 0.85rem;
  }
  .modal-form-btn {
    font-size: 1rem;
  }
  .books-grid {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .book-card {
    margin-bottom: 1.5rem;
  }
  .book-title {
    font-size: 1.25rem;
  }
  .book-authors,
  .book-publisher {
    font-size: 1rem;
  }
  .sidebar-active {
    display: block;
  }
}